<header class="header">
  <div class="header-content">
    <a routerLink="/home" class="logo">SuggestHub</a>
    <nav class="nav">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Home</a
      >
      <a routerLink="/suggestions" routerLinkActive="active" class="nav-link"
        >Suggestions</a
      >
      <a href="#" class="nav-link">Favorites</a>
      <button routerLink="/users" class="btn-primary">تسجيل الدخول</button>
    </nav>
  </div>
</header>
